<span><%= link "Edit", to: Routes.event_path(@conn, :edit, @event) %></span>
<span><%= link "Back", to: Routes.event_path(@conn, :index) %></span>

<div>
  <h2><%= @event.name %></h2>
  <h4>
    <small><%= @event.date_string %></small>
  </h4>
  <div>
    Hosted by: <%= @event.user.name %>
  </div>
  <div class="my-2"><%= @event.description %></div>
</div>
