/* This file is for your main application css. */
@import "bootstrap";
@import "flatpickr";

.invalid-feedback {
  display: block;
}

.user-avatar {
  height: 300px;
}

.comment-avatar {
  height: 100px;
}
