<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EventApp · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div role="main" class="container">
      <div class="d-flex flex-row justify-content-between my-3">
        <!-- APP NAVIGATION -->
        <div class="d-flex flex-column">
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <div class="mb-1">
              <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
            </div>
          <% end %>
          <%= link "Home", to: Routes.page_path(@conn, :index) %>
        </div>

        <!-- USER INFO -->
        <%= if @current_user do %>
          <div class="d-flex flex-column align-items-end">
            <div>User: <%= @current_user.name %></div>
            <div>
              <%= link("View profile", to: Routes.user_path(@conn, :show, @current_user),
              method: :get) %>
            </div>
            <div>
              <%= link("Logout", to: Routes.session_path(@conn, :delete),
              method: :delete) %>
            </div>
          </div>
        <% else %>
          <div class="d-flex flex-column align-items-end">
            <div class="mb-2">
              <%= form_for @conn, Routes.session_path(@conn, :create, redirect_to: @conn.params["redirect_to"]),
              [class: "form-inline"], fn f -> %>
                <%= email_input f, :email, class: "form-control" %>
                <%= submit "Login", class: "btn btn-secondary ml-2" %>
              <% end %>
            </div>
            <%= link "Register", to: Routes.user_path(@conn, :new) %>
          </div>
        <% end %>
      </div>

      <!-- FLASH -->
      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <%= @inner_content %>
    </div>
  </body>
</html>
