<h1>New User</h1>
<p>Create a new user below or log in to you account by submitting your email in the above login.</p>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create, redirect_to: @conn.params["redirect_to"])) %>
