<h1>
  <%= @user.name %>
</h1>

<div>
  <div class="my-3">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>
</div>

<%= if current_user_is?(@conn, @user.id) do %>
  <span class="mr-2"><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>
<% end %>
<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>
